<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

  <h3>Put the keyword</h3>
  <form action="show" method="POST">

      {% csrf_token %}
      <input placeholder="Keyword" type="text" required name="a1" >
      <br>
      <button type="submit">Send </button>
       <script>
          function sendData() {
              var x = document.getElementById('keyword').value;
                 localStorage.setItem("textValue",x);
                 return false;

          }
      </script>
  </form>

</body>
</html>